[submodule "thing"]
	path = thing
	url = git@gitlab.com:eliothing/thing.git
[submodule "sin"]
	path = sin
	url = git@gitlab.com:eliosin/sin.git
[submodule "bones"]
	path = bones
	url = git@github.com:theelioway/bones.git
[submodule "flesh"]
	path = flesh
	url = git@github.com:theelioway/flesh.git
[submodule "michael"]
	path = michael
	url = git@github.com:theelioway/michael.git
[submodule "gabriel"]
	path = gabriel
	url = git@github.com:theelioway/gabriel.git
