[submodule "gutenberg"]
	path = gutenberg
	url = git@github.com:theelioway/gutenberg.git
[submodule "dore"]
	path = dore
	url = git@github.com:theelioway/dore.git
[submodule "smith"]
	path = smith
	url = git@github.com:theelioway/smith.git
[submodule "prettier"]
	path = prettier
	url = git@github.com:theelioway/prettier.git
[submodule "micro"]
	path = micro
	url = git@github.com:theelioway/micro.git
[submodule "nanoid"]
	path = nanoid
	url = git@github.com:theelioway/nanoid.git
[submodule "humps"]
	path = humps
	url = https://github.com/theelioway/humps.git
[submodule "immutable-js"]
	path = immutable-js
	url = https://github.com/theelioway/immutable-js.git
[submodule "contributors"]
	path = contributors
	url = https://github.com/theelioway/contributors.git
[submodule "thing"]
	path = thing
	url = git@gitlab.com:eliothing/thing
[submodule "flesh"]
	path = flesh
	url = git@gitlab.com:elioflesh/flesh
[submodule "bones"]
	path = bones
	url = git@gitlab.com:eliobones/bones
[submodule "gabriel"]
	path = gabriel
	url = git@gitlab.com:elioangels/gabriel
[submodule "uriel"]
	path = uriel
	url = git@gitlab.com:elioangels/uriel
[submodule "michael"]
	path = michael
	url = git@gitlab.com:elioangels/michael
